@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "Racing Sans One";
  src: url("../public/fonts/RacingSansOne-Regular.ttf") format("ttf"),
} */

html {
  background-color: rgb(226 232 240);
}
